@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
    background: #333;
    color: #fff;
}

p, h2, h3{margin: 0;}
input, button {outline: none}

@import './components/header';
@import './components/workoutTypes';
@import './components/modal';
@import './components/log';
@import './components/card';