@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu';
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #fff;
}

p, h2, h3 {
  margin: 0;
}

input, button {
  outline: none;
}

.header__title h2 {
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}

.header__title p {
  text-align: center;
  padding: 0.5rem 0 1rem 0;
}

.workout__types--push h3, .workout__types--legs h3, .workout__types--pull h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
}

#workout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#workout h3 {
  cursor: pointer;
  margin: 0;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

#messages div {
  display: none;
}

.black {
  background: rgba(101, 64, 138, 0.5);
  color: #fff;
  -webkit-transition: 500ms;
  transition: 500ms;
}

#push, #pull, #legs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(101, 64, 138, 0.5)), to(rgba(101, 64, 138, 0.7)));
  background: linear-gradient(rgba(101, 64, 138, 0.5), rgba(101, 64, 138, 0.7));
  color: #fff;
}

#displayWorkouts, #displayRecords {
  width: 85%;
  margin: 4rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.workout-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 0px 10px #333;
          box-shadow: 0px 0px 10px #333;
  padding: 1rem 2rem;
  margin: 0.5rem;
  min-width: 200px;
  position: relative;
}

.workout-card:hover .workout-card__close {
  visibility: visible;
  opacity: 1;
}

.workout-card img {
  height: 100px;
}

.workout-card__close {
  font-size: 2rem;
  position: absolute;
  top: -3%;
  right: 2%;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

#text {
  display: none;
}

#month {
  text-align: center;
  margin: 4rem 0 2rem 0;
  font-size: 2rem;
}

#types {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.workout-log {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
  padding: 1rem 0.7rem;
  min-width: 200px;
  margin: 0.5rem;
}
/*# sourceMappingURL=style.css.map */