#workout{
    display: flex;
    justify-content: space-around;

    & h3{
        cursor: pointer;
        margin: 0;
        width: 100%;
        padding: 1rem 0;
        font-size: 1.5rem;
        text-align: center;
    }
}

#messages div{
    display: none;
}

.black{
    background: rgba(101, 64, 138, 0.5);
    color: #fff;
    transition: 500ms;
}

#push, #pull, #legs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 0;
    background: linear-gradient(rgba(101, 64, 138, 0.5), rgba(101, 64, 138, 0.7));
    color: #fff;
}

#displayWorkouts, #displayRecords{
    width: 85%;
    margin: 4rem auto 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.workout-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px #333;
    padding: 1rem 2rem;
    margin: 0.5rem;
    min-width: 200px;
    position: relative;
    &:hover &__close{
        visibility: visible;
        opacity: 1;
    }
    & img{
        height: 100px;
    }
    &__close{
        font-size:2rem;
        position: absolute;
        top: -3%;
        right: 2%;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transition: 400ms;
    }
}

#text{
    display: none;
}