#workout{
    display: flex;
    justify-content: space-around;

    & h3{
        cursor: pointer;
        margin: 0;
        width: 90%;
        padding: 1rem 0;
        font-size: 1.5rem;
        text-align: center;
    }
}

#messages div{
    display: none;
}

#displayWorkouts, #displayRecords{
    width: 85%;
    margin: 4rem auto 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#text{
    display: none;
}